{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{#{% block head %}#}
{#<!-- DataTables -->#}
{#<link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.css" type="text/css" />#}
{#<script src="/static/datatables/js/jquery.dataTables.js" type="text/javascript"></script>#}
{#<!--End DataTables-->#}
{#{% endblock %}#}


{% block content %}
    <div class="main-page" style="text-align: center">
        <h3 class="title1">图片集</h3>
{#        <p class="creating">该部分功能为实现上传单一类别的图片数据，在上传之前需要先选择相应类别然后完成上传。</p>#}
        <div class="well-lg">
        </div>
        <div class="clearfix"> </div>
        <br />
        <div class="gallery">
            {% for i in File %}
                <div class="col-md-3 gallery-grid" style="margin-bottom: 10px;text-align: center;">
                    <img class="example-image" src="{{ i }}" alt="" style="height: 204px;width: 305px;"/></a>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ImgDetailsModal" data-description="{{ i }}">操作</button>
                </div>
            {% endfor %}
        </div>
		<div class="clearfix"> </div>

        <!-- Modal -->        
		<div class="modal fade" id="ImgDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ImgDetailsModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="ImgDetailsModalLabel">Modal title</h4>
					</div>
					<div class="modal-body">						
						<div class="row">
                            <img src="" alt="" class="img-lg" style="width: 100%; height: 400px">
						</div> 

                        <div class="row">
                            <div class="col-md-4">
                                <div class="checkbox-inline">
                                    <label><input type="checkbox" id="need-update"> 是否需要更改类别</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                <select name="label-selector" id="label-selector" class="form-control" disabled>
                                    {% for item in Labels %}
                                        <option>{{ item.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
						</div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-delete-image" data-dismiss="modal">删除</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-update-label" data-dismiss="modal" disabled>更新类别</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
    <script>        
        $(function(){
            // 图片URL
            function getImgURL(staticURL)
            {
                var url = staticURL.split("/");
                return url[url.length - 2] + "/" + url[url.length - 1];
            }

            // 显示图片详情对话框
            $("#ImgDetailsModal").on("show.bs.modal", function(event){
                var button = $(event.relatedTarget);
                var description = button.data()["description"];
                var url = getImgURL(description);
                console.log("description: %o, url: %o", description, url);
                var modal = $(this);
                modal.find("#description").html(description);
                modal.find("#ImgDetailsModalLabel").html("图片详情: " + url);
                modal.find(".img-lg").attr("src", description);
                modal.find("#label-selector").val(url.split("/")[0]);
            }).on("hide.bs.modal", function(event){
                console.log($("#need-update").is(":checked"));
                if ($("#need-update").is(":checked"))
                {
                    $("#need-update").click();
                }
            });

            // 更新类别事件绑定
            $(".btn-update-label").click(function(){
                var newLabel = $("#label-selector").val();
                var oldLabel = $.trim($("#ImgDetailsModalLabel").html().split(":")[1]).split("/")[0];
                // console.log("new: %o, old: %o, equal: %o", newLabel, oldLabel, newLabel == oldLabel ? "一样" : "不一样");
                if (newLabel == oldLabel)
                {
                    return;
                }
                updateImageLabel($.trim($("#ImgDetailsModalLabel").html().split(":")[1]), newLabel, "{{ csrf_token }}");
            });

            // 更新按钮是否可用
            $("#need-update").change(function(){
                var btn = $(".btn-update-label");
                console.log(btn.attr("disabled"));
                if (!btn.attr("disabled"))
                {                
                    btn.attr("disabled", "disabled");
                    $("#label-selector").attr("disabled", "disabled");
                }
                else
                {
                    btn.removeAttr("disabled");
                    $("#label-selector").removeAttr("disabled");
                }
            });

            // 删除图片
            $(".btn-delete-image").click(function () {

                // 对话框插件bootbox
                bootbox.confirm({
                    title: "警告",
                    message: "确定删除？该操作不可恢复！！",
                    buttons: {
                        confirm: {
                            label: '是',
                            className: 'btn-default'
                        },
                        cancel: {
                            label: '否',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result)
                        {
                            deleteImage($.trim($("#ImgDetailsModalLabel").html().split(":")[1]), "{{ csrf_token }}");
                        }
                    }
                });
            });
        });
{#        $(document).ready(function () {#}
{#            $('#example-gallery').DataTable({#}
{#            });#}
{#        });#}
    </script>
{% endblock %}
