{% extends 'base.html' %}

{% block title %}
    <title>Train</title>
{% endblock %}

{% block head %}
    <!-- fileinput -->
    <link href="/static/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/static/fileinput/js/fileinput.js" type="text/javascript"></script>
    <script src="/static/fileinput/js/zh.js" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
    <!-- //fileinput -->
{% endblock %}


<!--
{% block navigation %}
	{% include "navigation.html" %}
{% endblock %}-->

{% block content %}
    <div class="main-page signup-page">
        <h3 class="title1">训练</h3>
        <p class="creating">该功能为模型训练，训练参数设置如下。</p>

        <div class="sign-up-row widget-shadow">

                <form id="submitForm" class="form-horizontal"
                      action="{% url 'process_train' %}" method="POST"
                      onsubmit="return Operate();">
                    {% csrf_token %}
                    <div class="form-horizontal">
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">{{ field.help_text }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">开始训练</button>
                </form>

                <br />

                <div id="train-progress-bar" class="progress" style="display: none;height: 20px;">
                    <div id="train-progress" class="progress-bar" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: 0;">
                    </div>
                </div>
        </div>
    </div>

    <script>

        function progressGO() {
            var i = 0;
            setTimeout(function () {
                var div = $("#train-progress");
                div.text(i + "%");
                if (i < 50)
                {
                    i = i + 0.5;
                }
                else
                {
                    if (i < 75)
                    {
                        i = i + 0.25;
                    }
                    else
                    {
                        if (i < 90)
                        {
                            i = i + 0.125;
                        }
                        else
                        {
                            i = i + 0.0625;
                        }
                    }
                }
                div.width(i + "%");
                if (i < 100) {
                    setTimeout(arguments.callee, 50);
                }
                else {
                    div.text("100%");
                    bootbox.alert({
                        title: "通知",
                        message: "训练完成！"
                    })
                }
            }, 0.1);
        }

        function Operate() {
            $.ajax({
                type: "POST",
                url: "{% url 'process_train' %}",
                data: $("#submitForm").serialize(),
                success: function(msg) {
                    if (msg.status == 0) {
                        $("#train-progress-bar").show();
                        progressGO();
                    }
                    else {
                        bootbox.alert({
                            title: "警告",
                            message: "参数有错"
                        });
                    }
                }
            });
            return false; // 必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
        }
{#        $("#start-train").click(function (event) {#}
{#            console.log(event);#}
{#            $("#progress-div").show();#}
{#            progressBarGo();#}
{#            $("#train-form").ajaxSubmit(function(message) {#}
{#                // 对于表单提交成功后处理，message为提交页面operation.htm的返回内容#}
{#                console.log(message);#}
{#            });#}
{#        });#}
{#        function progressBarGo() {#}
{#            var len = 0;#}
{#            // 200ms走一个单位看上去匀速#}
{#            setTimeout(function () {#}
{#                var div = $("#progress-bar");#}
{#                len = len + 100;#}
{#                //console.log(len);#}
{#                div.width(len + "%");#}
{#                if (len < 100) {#}
{#                    setTimeout(arguments.callee, 200);#}
{#                }#}
{#            }, 200);#}
{#        }#}
    </script>

{% endblock %}